In [3]:
import pandas as pd
import csv
import numpy as np

In [8]:
ny_org = open('newyork_org_results.csv','r', encoding='latin1')
ny_auth = open('newyork_author_results.csv','r', encoding='latin1')

chi_org = open('chicago_org_results.csv','r', encoding='latin1')
chi_auth = open('chicago_names_results.csv','r', encoding='latin1')

FileNotFoundError: [Errno 2] No such file or directory: 'newyork_org_results_ln.csv'

In [7]:
ny_org_df = pd.read_csv(ny_org)
ny_org_df.head()

,htid,title,org
0,coo.31924001835820,The outside system of production in the women'...,International Ladies' Garment Workers' Union
1,coo.31924002005183,"Know your schools, Tompkins County, New York",League of Women Voters of Tompkins County (Tom...
2,coo.31924002335606,Twenty-fifth anniversary testimonial to Harry ...,International Ladies' Garment Workers' Union L...
3,coo.31924002403206,"Official report of the Strike committee, Chica...",Women's Trade Union League of Chicago
4,coo.31924003667635,Annual report,International Ladies' Garment Workers' Union U...

In [225]:
ny_auth_df = pd.read_csv(ny_auth, encoding='latin1')
ny_auth_df.head()

,htid,title,person
0,ÂÃÃaeu.ark:/13960/t4dn5fd4r,Concerning children,"Gilman, Charlotte Perkins 1860-1935"
1,aeu.ark:/13960/t89g7140g,The social significance of modern drama,"Goldman, Emma 1869-1940"
2,chi.105719338,Psychology of the unconscious a study of the t...,"Hinkle, Beatrice M."
3,aeu.ark:/13960/t89g7140g,The social significance of the modern drama,"Goldman, Emma 1869-1940"
4,aeu.ark:/13960/t4rj69w6s,The visioning a novel,"Glaspell, Susan 1882-1948"

In [226]:
chi_org_df = pd.read_csv(chi_org, encoding='latin1')
chi_org_df.head()

,htid,title,org
0,ÂÃÃcoo.31924002005183,"Know your schools, Tompkins County, New York",League of Women Voters of Tompkins County (Tom...
1,coo.31924002334971,"Anniversary journal, on the occasion of the ce...","Amalgamated Clothing Workers of America, Local..."
2,coo.31924000810220,Proceedings of the ... Biennial Convention of ...,Amalgamated Clothing Workers of America Conven...
3,coo.31924002403206,"Official report of the Strike committee, Chica...",Women's Trade Union League of Chicago
4,coo.31924001734064,Resolutions and proceedings 1977 convention of...,"Coalition of Labor Union Women Convention, Was..."

In [227]:
chi_auth_df = pd.read_csv(chi_auth, encoding='latin1')
chi_auth_df.head()

,htid,title,person
0,ÂÃÃcoo.31924003252073,Studies in protein and amino acid nutrition us...,"Anderson, Mary Eldrid 1926-"
1,coo.31924014531028,"The Child, the clinic and the court","Addams, Jane 1860-1935"
2,coo1.ark:/13960/t05x2w09h,A summary of juvenile-court legislation in the...,"Breckinridge, Sophonisba Preston 1866-1948"
3,coo1.ark:/13960/t0ks78j5j,The delinquent child and the home,"Abbott, Edith 1876-1957"
4,coo.31924003585589,Windowless offices user satisfaction and adapt...,"Anderson, Mary Ann 1940-"

In [228]:
ny_org_df.head()

,htid,title,org
0,coo.31924001835820,The outside system of production in the women'...,International Ladies' Garment Workers' Union
1,coo.31924002005183,"Know your schools, Tompkins County, New York",League of Women Voters of Tompkins County (Tom...
2,coo.31924002335606,Twenty-fifth anniversary testimonial to Harry ...,International Ladies' Garment Workers' Union L...
3,coo.31924002403206,"Official report of the Strike committee, Chica...",Women's Trade Union League of Chicago
4,coo.31924003667635,Annual report,International Ladies' Garment Workers' Union U...

In [229]:
nelson_ny_org = open('nelson-ny-orgs.csv','r')
nelson_ny_org_df = pd.read_csv(nelson_ny_org)
# nelson_ny_orgs_df.head()

nelson_ny_auth = open('nelson-ny-auth.csv')
nelson_ny_auth_df = pd.read_csv(nelson_ny_auth)
# nelson_ny_auth_df.head()


nelson_chi_org = open('nelson-chi-orgs.csv','r')
nelson_chi_org_df = pd.read_csv(nelson_chi_org)
# nelson_chi_orgs_df.head()

nelson_chi_auth = open('nelson-chi-auth.csv','r', encoding='latin1')
nelson_chi_auth_df = pd.read_csv(nelson_chi_auth)
# nelson_chi_auth_df.head()

In [183]:
nelson_ny_orgs_df.head()

                                Organization       Dates Publication
0                                    Sorosis      1868 -         NaN
1  New York State Woman Suffrage Association  1869- 1920         NaN
2        Brooklyn Woman Suffrage Association    1869 - ?         NaN
3   Neighborhood Guild/University Settlement      1886 -         NaN
4       Lily Pleasure Club/Neighborhood Club    1886 - ?         NaN

In [234]:
nelson_ny_org_list = pd.Series.tolist(nelson_ny_org_df['Organization'])
nelson_ny_auth_list = pd.Series.tolist(nelson_ny_auth_df['Person'])
nelson_chi_auth_list = pd.Series.tolist(nelson_chi_org_df['Organization'])
nelson_chi_org_list = pd.Series.tolist(nelson_chi_auth_df['Person'])


print('NY orgs asked for:', len(nelson_ny_org_list))
print('NY authors asked for:', len(nelson_ny_auth_list))
print('CHI orgs asked for:', len(nelson_chi_org_list))
print('CHI authors asked for:', len(nelson_chi_auth_list))

NY orgs asked for: 72
NY authors asked for: 70
CHI orgs asked for: 52
CHI authors asked for: 85

In [233]:
ny_org_list = pd.Series.tolist(ny_org_df['org'])
ny_auth_list = pd.Series.tolist(ny_auth_df['person'])
chi_auth_list = pd.Series.tolist(chi_org_df['org'])
chi_org_list = pd.Series.tolist(chi_auth_df['person'])


print('NY orgs found:', len(ny_org_list))
print('NY authors found:', len(nelson_ny_auth_list))
print('CHI orgs found:', len(chi_org_list))
print('CHI authors found:', len(chi_auth_list))

NY orgs found: 1844
NY authors found: 70
CHI orgs found: 678
CHI authors found: 1667

In [91]:
ny_org_miss = []
ny_auth_miss = []
chi_org_miss = []
chi_auth_miss = []

for org in nelson_ny_org_list:
    if org not in ny_org_set:
        ny_org_miss.append(org)

In [136]:
print(len(ny_org_miss))

# ny_org_miss

72

In [135]:
# ny_org_set

In [230]:
ny_org_dict = {}

for i in ny_org_df.index:
    org = ny_org_df['org'][i]
    if org in nelson_ny_org_list:
        ny_org_dict[org] += 1
    elif org in ny_org_dict:
        ny_org_dict[org] += 1
    else:
        ny_org_dict[org] = 1

print(len(ny_org_dict))

209

In [231]:
for i in nelson_ny_org_df.index:
    org = nelson_ny_org_df['Organization'][i]
    if org not in ny_org_dict:
        ny_org_dict[org] = 0

print(len(ny_org_dict))

280

In [238]:
ny_auth_dict = {}

for i in ny_auth_df.index:
    auth = ny_auth_df['person'][i]
    if auth in nelson_ny_auth_list:
        ny_auth_dict[auth] += 1
    elif auth in ny_auth_dict:
        ny_auth_dict[auth] += 1
    else:
        ny_auth_dict[auth] = 1
        
print(len(ny_auth_dict))

84

In [239]:
for i in nelson_ny_auth_df.index:
    org = nelson_ny_auth_df['Person'][i]
    if org not in ny_auth_dict:
        ny_auth_dict[org] = 0

print(len(ny_auth_dict))

154

In [241]:
chi_org_dict = {}

for i in chi_org_df.index:
    org = chi_org_df['org'][i]
    if org in nelson_chi_org_list:
        chi_org_dict[org] += 1
    elif org in chi_org_dict:
        chi_org_dict[org] += 1
    else:
        chi_org_dict[org] = 1
        
print(len(chi_org_dict))

282

In [242]:
for i in nelson_chi_org_df.index:
    org = nelson_chi_org_df['Organization'][i]
    if org not in chi_org_dict:
        chi_org_dict[org] = 0

print(len(chi_org_dict))

366

In [244]:
chi_auth_dict = {}

for i in chi_auth_df.index:
    auth = chi_auth_df['person'][i]
    if auth in nelson_chi_auth_list:
        chi_auth_dict[auth] += 1
    elif auth in chi_auth_dict:
        chi_auth_dict[auth] += 1
    else:
        chi_auth_dict[auth] = 1
        
print(len(chi_auth_dict))

86

In [245]:
for i in nelson_chi_auth_df.index:
    auth = nelson_chi_auth_df['Person'][i]
    if auth not in chi_auth_dict:
        chi_auth_dict[auth] = 0

print(len(chi_auth_dict))

137

In [250]:
ny_org_results = pd.DataFrame.from_dict(ny_org_dict, orient='index')
ny_org_results = ny_org_results.reset_index()
ny_org_results.columns = ['ny org','count']
ny_org_results = ny_org_results.sort_values('ny org', ascending=True)
ny_org_results.to_csv('ny_org_results_check.csv')
ny_org_results.head()

                                             ny org  count
238                            Birth Control League      0
229             Brooklyn Woman Suffrage Association      0
175  Brooklyn Woman's Health Protective Association      0
98         College Settlement/University Settlement      0
17                                  Communist Party      0

'ny org'

In [251]:
ny_auth_results = pd.DataFrame.from_dict(ny_auth_dict, orient='index')
ny_auth_results = ny_auth_results.reset_index()
ny_auth_results.columns = ['ny person','count']
ny_auth_results = ny_auth_results.sort_values('ny person', ascending=True)
ny_auth_results.to_csv('ny_auth_results_check.csv')
ny_auth_results.head()

                                    ny person  count
10                                  Ann Forer      0
65                                 Ann Snitow      0
143                                Anne Koedt      0
37                        Anthony, Katherine       0
51   Anthony, Katherine M. (Katherine Miner)       1

In [252]:
chi_org_results = pd.DataFrame.from_dict(chi_org_dict, orient='index')
chi_org_results = chi_org_results.reset_index()
chi_org_results.columns = ['chicago org','count']
chi_org_results = chi_org_results.sort_values('chicago org', ascending=True)
chi_org_results.to_csv('chi_org_results_check.csv')
chi_org_results.head()

                                           chicago org  count
156                          AFL Ladies' Federal Union      0
365                                Alpha Suffrage Club      0
363            Amalgamated Clothing Workers of America      0
331           Amalgamated Clothing Workers of America      86
341  Amalgamated Clothing Workers of America Board ...      1

In [253]:
chi_auth_results = pd.DataFrame.from_dict(chi_auth_dict, orient='index')
chi_auth_results = chi_auth_results.reset_index()
chi_auth_results.columns = ['chicago person','count']
chi_auth_results = chi_auth_results.sort_values('chicago person', ascending=True)
chi_auth_results.to_csv('chi_auth_results_check.csv')
chi_auth_results.head()

                                   chicago person  count
121                        Elizabeth Gurley Flynn      0
78                       Abbott, Edith 1876-1957      96
17   Abbott, Edith 1876-1957. [from old catalog]       1
132                               Abbott, Edith.       2
10                       Abbott, Grace 1878-1939      22